/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 20px;
	padding-bottom: 60px;
}
.container {
	width: 1170px !important;
}
.sitename {
	margin-bottom: 20px;
}
.slide-container {}
.content {
	margin-top: 20px;
}
footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
}

/*
 * Component
 * ---------------------------------------
 */

/* component recommand */
.recommend-container {}
.recommend {}
.recommend-title {}
.recommend-img {}
.recommend-content {}
.recommend-link {}

/* component portfolio */
.portfolio-container {}
.portfolio {}
.portfolio-title {}
.portfolio-img {}
.portfolio-content {}
.portfolio-link {}

/* component recommand */

/*
 * Section
 * ---------------------------------------
 */

/* section news */










